<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>LR4</title>
</head>
<body>
    <div id="app">
        <div class="control-panel">
            <h3>Шаг 1. Определите начальные данные</h3>
            <div class="form-field">
                <label for="countVertex">Количество вершин</label>
                <input type="number" name="countVertex" id="" v-model="countVertex" min=0 @change="addDataInput">
            </div>
        </div>

        <div class="inner-matrix">
            <div class="table">
                <div class="table-col">
                    <div class="th"></div>
                    <div class="th" v-for="(item, index) in arrData">{{index + 1}}</div>
                </div>
        
                <div class="table-col" v-for="(arr, index) in arrData">
                    <div class="th">{{ index + 1 }}</div>
                    <div class="td" v-for="(item, ind) in arr">
                        <input type="number" :name="'vertex[' + ind + ']'" id="" v-model="arrData[ind][index]"  min=0>
                    </div>
                </div>
            </div>
            <button @click="getResult()">Результат</button>
        </div>

        <div class="result" v-if="flag">
            <h3>Шаг 3. Результаты вычислений</h3>

            <div class="tabs">
                <span class="tab" 
                        v-for="(tab, index) in tabs" 
                        @click="selectedTab = index"
                        :class='selectedTab == index ? "active-tab" : ""'
                >  
                    {{ tab }}
                </span>
            </div>

            <div class="tab-content" :class='selectedTab == 0 ? "active-tab" : ""'>
                <h4>3.1 Матрица кратчайших путей</h4>

                <table>
                    <thead>
                        <th></th>
                        <th v-for="(item, index) in matrixPath">{{index + 1}}</th>
                    </thead>

                    <tbody>
                        <tr v-for="(arr, index) in matrixPath">
                            <th>{{index + 1}}</th>
                            <td v-for="(item, ind) in arr">
                                {{item == null ? "-" : item}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="tab-content tree-result" :class='selectedTab == 1 ? "active-tab" : ""'>
                <h4>3.2 Остовные деревья</h4>

                <div class="tree-item" v-for="(arr, ind) in tree">
                    <span v-for="(item, i) in arr">{{item}}</span>
                </div>

                </div>

            </div>

        </div>
    </div>

    <script src="/plagins/vue3.0/vue.js"></script>
    <script src="/plagins/axios/axios.js"></script>
    <script src="script.js"></script>
</body>
</html>