body {
    margin: 0;
    padding: 0;
    background: #eaeaea;
    display: grid;
    gap: 10px;
    font-family: 'Consolas';
    font-size: 18px;
}

div#app {
    max-width: 1400px;
    margin: 20px auto;
    background: #fff;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
    min-height: calc(100vh - 40px);
    box-sizing: border-box;
}
.form-field {
    display: grid;
    gap: 3px;
}

input[type="number"], input[type="text"] {
    padding: 7px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.control-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 40px;
    margin-bottom: 20px;
}

.control-panel h3 {
    grid-column: span 2;
    margin: 0;
}

.table {
    display: grid;
    grid-template-columns: repeat(auto-fit, 65px);
}

.table-col {
    display: grid;
}

.th, .td {
    border: 1px solid;
    padding: 5px;
    min-height: 35px;
}
.table-col > .th {
    text-align: center;
    font-weight: bold;
}
.table input[type="number"] {
    width: 100%;
    box-sizing: border-box;
}
.table input[type="number"]::-webkit-outer-spin-button,
.table input[type="number"]::-webkit-inner-spin-button {
	display: none;
}
table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid;
    padding: 5px;
    min-height: 20px;
    min-width: 50px;
}

.input-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px 16px;
}

p.teh-info {
    background: #f1f1f1;
    border-color: #ccc;
}

p {
    padding: 10px;
    border: 1px solid;
    border-radius: 7px;
    font-family: 'Consolas';
    font-size: 15px;
}

p.info {
    background: #e7e7ff;
    border-color: #95b3ff;
    color: #001c68;
}
button {
    padding: 8px 12px;
    text-transform: uppercase;
    background: #4e29e9;
    color: #fff;
    font-weight: 800;
    font-family: 'Consolas';
    font-size: 20px;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin: 15px 0 20px;
}

.tabs {
    display: flex;
    gap: 8px;
    border-bottom: 1px solid #ccc;
}

span.tab {
    padding: 8px;
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
span.tab.active-tab {
    background: #e7e7ff;
    border-color: #95b3ff;
    color: #001c68;
}
.tab-content {
    display: none;
}

.tab-content.active-tab {
    display: block;
}
.tree-item {
    display: grid;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
}

.tree-result.tab-content.active-tab {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.tree-result h4 {
    grid-column: 1/-1;
}