div#app > div {
    overflow-y: auto;
}
body {
    margin: 0;
    padding: 0;
    background: #eaeaea;
    display: grid;
    gap: 10px;
    font-family: 'Consolas';
    font-size: 18px;
}

div#app {
    max-width: 1400px;
    margin: 20px auto;
    background: #fff;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    height: calc(100vh - 40px);
    box-sizing: border-box;
}
.form-field {
    display: grid;
    gap: 3px;
}

input[type="number"], input[type="text"] {
    padding: 7px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Consolas';
    font-size: 18px;
}

.table {
    display: grid;
    grid-template-columns: repeat(auto-fit, 50px);
}

.table-col {
    display: grid;
}

.table-col > div {
    border: 1px solid;
    padding: 5px;
    min-height: 20px;
}
.table-col > .th {
    text-align: center;
    font-weight: bold;
}
table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid;
    padding: 5px;
    min-height: 20px;
    min-width: 50px;
}

.input-items {
    display: grid;
    gap: 5px 16px;
}

p {
    padding: 10px;
    border: 1px solid;
    border-radius: 7px;
    font-family: 'Consolas';
    font-size: 15px;
}

p.info {
    background: #eaeaea;
    border-color: #8c8c8c;
    color: #000000;
}
.buttons{
    position: sticky;
    bottom: 0;
}
button {
    padding: 8px 12px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Consolas';
    font-size: 20px;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin: 15px 0 20px;
}
.primary-btn{
    background: #474747;
    color: #fff;
}
.second-btn{
    border: 1px solid #474747;
    color: #474747;
}
.result-body {
    display: grid;
    gap: 2px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #000;
}