body {
    margin: 0;
    padding: 0;
    /* background: #eaf0f4; */
    display: grid;
    gap: 10px;
}

div#app {
    width: 1000px;
    /* margin: 20px auto; */
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}
.form-field {
    display: grid;
    gap: 3px;
}
.input-items .form-field {
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
}

input[type="number"], input[type="text"] {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.table {
    display: grid;
    grid-template-columns: repeat(auto-fit, 50px);
}

.table-col {
    display: grid;
}

.table-col > div {
    border: 1px solid;
    padding: 5px;
    min-height: 20px;
}
.table-col > .th {
    text-align: center;
    font-weight: bold;
}
table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid;
    padding: 5px;
    min-height: 20px;
    min-width: 50px;
}

.input-items {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 5px 16px;
    width: 50%;
}

p.teh-info {
    background: #f1f1f1;
    border-color: #ccc;
}

p {
    padding: 10px;
    border: 1px solid;
    border-radius: 7px;
    /* font-family: 'Consolas'; */
    font-size: 15px;
}

p.info {
    background: #e7e7ff;
    border-color: #95b3ff;
    color: #001c68;
}
button {
    padding: 8px 12px;
    text-transform: uppercase;
    background: #318600;
    color: #fff;
    font-weight: 800;
    /* font-family: 'Consolas'; */
    font-size: 17px;
    border: none;
    border-radius: 5px;
    width: fit-content;
    margin: 15px 0 20px;
    cursor: pointer;
}
button.second-btn {
    margin-left: 10px;
    background: #fff;
    color: #f00;
    border: 1px solid #f00;
}
.item {
    padding: 4px 4px 6px;
    font-size: 20px;
    display: flex;
    gap: 10px;
}