<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>LR3</title>
</head>
<body>
    <div id="app">
        <h1>ЛР5. Вариант 11</h1>
        <h3><u>Задание:</u> Вводим множество G<sup>+1</sup>(i) правых инциденций (определяет все вершины, в которые можно попасть из вершины i). Выводим избыточность R и Эпсилон^2</h3>

        <div>
            <div class="control-panel">
                <h3>Ввод количества вершин</h3>
                <div class="form-field">
                    <label for="countVertex">Количество вершин</label>
                    <input type="number" name="countVertex" id="" v-model="countVertex" min=0 @change="addDataInput">
                </div>
            </div>
    
            <div class="data-panel">
                <h3>Множество правых инцеденций G<sup>+1</sup>(i)</h3>
    
                <div class="input-items">
                    <div class="form-field" v-for="(item, index) in arrData">
                        <label :for="'data-' + index">G({{ index + 1 }})</label>
                        <input type="text" :name="'data-' + index" id="" v-model="arrData[index]" placeholder="1, 3">
                    </div>
                </div>
    
                <div class="buttons">
                    <button class="primary-btn" @click='getResult()' @keyup.enter="getResult()">Результат</button>
                    <button class="second-btn" @click='remove()'>Очистить</button>
                </div>
            </div>
        </div>

        <div>
            <div class="result-panel">
                <h3>Результаты вычислений</h3>

                <div class="result-adjacency-matrix" v-if='flag'>
                    <h4>Параметры</h4>
                    
                    <div><b>R = </b>{{ r }}</div>
                    <div><b>eps^2 = </b>{{ eps }}</div>
                    <div><b>Сообщение по R: </b>{{ messR }}</div>
                </div>

                <div class="result-adjacency-matrix" v-if='flag'>
                    <h4>Степени вершин для расчета eps^2</h4>
                    <table>
                        <thead>
                            <tr>
                                <th v-for="(item, index) in arrData">{{index + 1}}</th>
                            </tr>
                        </thead>
    
                        <tbody>
                            <tr>
                                <td v-for="(cell, index) in stepeniVartex">
                                    {{cell}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    
                <div class="result-adjacency-matrix" v-if='flag'>
                    <h4>Матрица А смежности</h4>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th v-for="(item, index) in arrData">{{index + 1}}</th>
                            </tr>
                        </thead>
    
                        <tbody>
                            <tr v-for="(row, index) in matrixA">
                                <th>{{index + 1}}</th>
                                <td v-for="(item, ind) in row">{{item}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <p class="result-panel__no-data teh-info" v-if='!flag' :class="errorText == null ? '' : 'error'">
                {{errorText == null ? 'Для получения результата введите корректные данные и нажмите кнопку "Результат".' : errorText}}                
            </p>
        </div>
    </div>
    
    <script src="/plagins/vue3.0/vue.js"></script>
    <script src="/plagins/axios/axios.js"></script>
    <script src="script.js"></script>
</body>
</html>