<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>LR5</title>
</head>
<body>
    <div id="app">
        <div>
            <div class="control-panel">
                <h3>Ввод количества вершин</h3>
                <div class="form-field">
                    <label for="countVertex">Количество вершин</label>
                    <input type="number" name="countVertex" id="" v-model="countVertex" min=0 @change="addDataInput">
                </div>

                <div class="form-field">
                    <label for="countVertex">Количество дуг</label>
                    <input type="number" name="countVertex" id="" v-model="countM" min=0 @change="addDataInput">
                </div>
            </div>
    
            <div class="data-panel">
                <h3>Матрица В</h3>
    
                <div class="input-items">
                    <div class="form-field" v-for="(item, index) in arrData">
                        <label :for="'data-' + index">G({{ index + 1 }})</label>
                        <input type="text" :name="'data-' + index" id="" v-model="arrData[index]" placeholder="1, 3">
                    </div>
                </div>
    
                <div class="buttons">
                    <button class="primary-btn" @click='getResult()' @keyup.enter="getResult()">Результат</button>
                    <button class="second-btn" @click='remove()'>Очистить</button>
                </div>
            </div>
        </div>

        <div>
            <div class="result-panel">
                <h3>Результаты вычислений</h3>
    
                <div class="result-adjacency-matrix" v-if='flag'>
                    <h4>Матрица А смежности</h4>

                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th v-for="(item, index) in arrData">{{index + 1}}</th>
                            </tr>
                        </thead>
    
                        <tbody>
                            <tr v-for="(row, index) in matrixA">
                                <th>{{index + 1}}</th>
                                <td v-for="(item, ind) in row">{{item}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="result-adjacency-matrix" v-if='flag'>
                    <h4>Матрица А k смежности</h4>

                    <div v-for="(arr, index) in stepenA">
                        <h5>k = {{index}}</h5>
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th v-for="(item, index) in arrData">{{index + 1}}</th>
                                </tr>
                            </thead>
        
                            <tbody>
                                <tr v-for="(row, index) in arr">
                                    <th>{{index + 1}}</th>
                                    <td v-for="(item, ind) in row">{{item}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                    </div>
                </div>
    
                <div class="result-adjacency-matrix" v-if='flag'>
                    <h4>Матрица А результирующая</h4>

                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th v-for="(item, index) in arrData">{{index + 1}}</th>
                            </tr>
                        </thead>
    
                        <tbody>
                            <tr v-for="(row, index) in resA">
                                <th>{{index + 1}}</th>
                                <td v-for="(item, ind) in row">{{item}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    
                <div class="result-adjacency-matrix" v-if='flag'>
                    <h4>Матрица С</h4>

                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th v-for="(item, index) in arrData">{{index + 1}}</th>
                            </tr>
                        </thead>
    
                        <tbody>
                            <tr v-for="(row, index) in resC">
                                <th>{{index + 1}}</th>
                                <td v-for="(item, ind) in row">{{item}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <p class="result-panel__no-data teh-info" v-if='!flag' :class="errorText == null ? '' : 'error'">
                {{errorText == null ? 'Для получения результата введите корректные данные и нажмите кнопку "Результат".' : errorText}}                
            </p>
        </div>
    </div>
    
    <script src="/plagins/vue3.0/vue.js"></script>
    <script src="/plagins/axios/axios.js"></script>
    <script src="script.js"></script>
</body>
</html>